<a href="https://colab.research.google.com/github/aashish3298/udemybooks/blob/master/Business_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
dfm = pd.read_csv('/newmovies.csv')
dfm.head()

   ID                           Title  Year  ...        Country  Language Runtime
0   1                       Inception  2010  ...  United States   English     148
1   2                      The Matrix  1999  ...  United States   English     136
2   3          Avengers: Infinity War  2018  ...  United States   English     149
3   4              Back to the Future  1985  ...  United States   English     116
4   5  The Good, the Bad and the Ugly  1966  ...          Italy   Italian     161

[5 rows x 15 columns]

In [2]:
df = dfm[['Title','Age','IMDb', 'Directors', 'Genres']]
df

                                Title  ...                            Genres
0                           Inception  ...  Action,Adventure,Sci-Fi,Thriller
1                          The Matrix  ...                     Action,Sci-Fi
2              Avengers: Infinity War  ...           Action,Adventure,Sci-Fi
3                  Back to the Future  ...           Adventure,Comedy,Sci-Fi
4      The Good, the Bad and the Ugly  ...                           Western
...                               ...  ...                               ...
15425        Sultan And The Rock Star  ...            Adventure,Drama,Family
15426                 The Bears and I  ...                      Drama,Family
15427    Whispers: An Elephant's Tale  ...                  Adventure,Family
15428       The Ghosts of Buxley Hall  ...      Comedy,Family,Fantasy,Horror
15429                  The Poof Point  ...              Comedy,Family,Sci-Fi

[15430 rows x 5 columns]

In [3]:
def removeSpaces(inputString):
    if(inputString):
        return str(inputString).replace(" ","")
    else:
        return None

In [5]:
df['Directors_trim'] = df['Directors'].apply(removeSpaces)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                            Title  ...                Directors_trim
0                       Inception  ...              ChristopherNolan
1                      The Matrix  ...  LanaWachowski,LillyWachowski
2          Avengers: Infinity War  ...         AnthonyRusso,JoeRusso
3              Back to the Future  ...                RobertZemeckis
4  The Good, the Bad and the Ugly  ...                   SergioLeone

[5 rows x 6 columns]

In [6]:
def getComment(rating):
    if rating == None:
        return ""
    elif rating >= 7.6:
        return "great"
    elif rating >= 5.9 and rating <= 7.5:
        return "okay"
    elif  rating < 5.9:
        return "bad"

In [7]:
df['comment'] = df["IMDb"].apply(getComment)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                            Title  Age  ...                Directors_trim comment
0                       Inception  13+  ...              ChristopherNolan   great
1                      The Matrix  18+  ...  LanaWachowski,LillyWachowski   great
2          Avengers: Infinity War  13+  ...         AnthonyRusso,JoeRusso   great
3              Back to the Future   7+  ...                RobertZemeckis   great
4  The Good, the Bad and the Ugly  18+  ...                   SergioLeone   great

[5 rows x 7 columns]

In [8]:
df['bagofwords'] = df['Genres'].map(str) + ',' + df['Directors_trim'].map(str) + ',' + df['comment'].map(str)+ ',' + df['Age'].map(str)
df['bagofwords']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0        Action,Adventure,Sci-Fi,Thriller,ChristopherNo...
1        Action,Sci-Fi,LanaWachowski,LillyWachowski,gre...
2        Action,Adventure,Sci-Fi,AnthonyRusso,JoeRusso,...
3          Adventure,Comedy,Sci-Fi,RobertZemeckis,great,7+
4                            Western,SergioLeone,great,18+
                               ...
15425       Adventure,Drama,Family,EdwardM.Abroms,okay,nan
15426                Drama,Family,BernardMcEveety,okay,all
15427               Adventure,Family,DereckJoubert,bad,all
15428    Comedy,Family,Fantasy,Horror,BruceBilson,okay,nan
15429               Comedy,Family,Sci-Fi,NealIsrael,bad,7+
Name: bagofwords, Length: 15430, dtype: object

In [17]:
def removeInvalidValue (input):
    arr = input.split(",")
    arr = [i for i in arr if i != "None" and i != "nan"]
    return ",".join(arr)

In [19]:
df['bagofwords'] = df['bagofwords'].apply(removeInvalidValue)
df['bagofwords']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0        Action,Adventure,Sci-Fi,Thriller,ChristopherNo...
1        Action,Sci-Fi,LanaWachowski,LillyWachowski,gre...
2        Action,Adventure,Sci-Fi,AnthonyRusso,JoeRusso,...
3          Adventure,Comedy,Sci-Fi,RobertZemeckis,great,7+
4                            Western,SergioLeone,great,18+
                               ...
15425           Adventure,Drama,Family,EdwardM.Abroms,okay
15426                Drama,Family,BernardMcEveety,okay,all
15427               Adventure,Family,DereckJoubert,bad,all
15428        Comedy,Family,Fantasy,Horror,BruceBilson,okay
15429               Comedy,Family,Sci-Fi,NealIsrael,bad,7+
Name: bagofwords, Length: 15430, dtype: object

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
count = CountVectorizer()
count_matrix =  count.fit_transform(df['bagofwords'].values)
type(count_matrix)
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [12]:
cosine_sim.shape

(15430, 15430)

In [13]:
def getSimilarMovies(moviename):
    inp_index = df.index[df['Title'] == moviename].tolist()[0]
    print(inp_index)
    similar_index = (-cosine_sim[inp_index]).argsort()[:11]
    similar_index = similar_index[similar_index != inp_index]
    print(df.iloc[similar_index, [0]])

In [14]:
getSimilarMovies("The Incredibles")

14977
                                                   Title
33                                         Incredibles 2
293                                      Boy & the World
14979                                         Big Hero 6
161            Lupin the Third: The Castle of Cagliostro
6655                                     The Monkey King
5                      Spider-Man: Into the Spider-Verse
14973                                        Ratatouille
1264   Inuyasha the Movie 3: Swords of an Honorable R...
3204          How to Train Your Dragon: The Hidden World
1490   Walt Disney Animation Studios Short Films Coll...

In [15]:
getSimilarMovies("The Good, the Bad and the Ugly")

4
                                          Title
15                 Once Upon a Time in the West
3200                            Blazing Saddles
7                              Django Unchained
4105                        Legends of the Fall
50                            The Hateful Eight
41                           Hell or High Water
273    John Mulaney: Kid Gorgeous at Radio City
298                             Louis C.K. 2017
14530                   The Far Side of Jericho
13180                       The Last Gunslinger